html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    padding: 20px;
    background-color: #FFD837;
    color: rgba(0,0,0,.87);
    box-sizing: border-box;
}

form {
    background-color: white;
    padding: 32px 40px 64px;
    border-radius: 4px;
    width: 620px;
    margin: 20px auto;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    word-wrap: break-word;
}
h1 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 34px;
    line-height: 135%;
    max-width: 100%;
    min-width: 0%;
    font-weight: 400;
}
.list {
    padding: 16px 0;
}

.heading {   
    color: #000;
    font-size: 20px;
    line-height: 135%;
    width: 100%;
    padding-bottom: 16px;
}

input[type="radio"] {
    display: none;
}

label {
    display: flex;
    justify-items: flex-start;
    align-items: center;
    padding-bottom: 16px;
}

.list div:last-of-type label {
    padding-bottom: 8px;
}


label:before {
    display: block;
    margin-right: 7px;
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.54);
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

input:checked ~ label:before {
    background-color: rgb(160, 118, 0);
    box-shadow: inset 0 0 0 3px white;
    border: 2px solid rgb(160, 118, 0); 
    transition: .4s cubic-bezier(0.4,0,0.2,1);
}
input[type="text"] {
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    font-size: 20px;
    line-height: 1.8rem;
    margin: 0 0 16px;
    width: 60%;
    box-sizing: border-box;
}

input[type="text"]:focus {
    border-bottom: 2px solid rgb(160, 118, 0);
    transition: .4s cubic-bezier(0.4,0,0.2,1);
    margin-bottom: 15px;
}

input[type="submit"] {
    -webkit-appearance: none;
    background-color: #FFD837;
    border: 0;
    line-height: 2.4rem;
    padding: 2px 32px 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0,0,0,0.72);
    cursor: pointer; 
}

::-webkit-input-placeholder {color:rgba(0,0,0,0.38);}
::-moz-placeholder          {color:rgba(0,0,0,0.38);}
:-moz-placeholder           {color:rgba(0,0,0,0.38);}
:-ms-input-placeholder      {color:rgba(0,0,0,0.38);}


input[type="text"]::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]::-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:-ms-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
input[type="text"]:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus::-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-moz-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input[type="text"]:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}



/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */

    body {
        padding: 16px;

    }
    form {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
/*
    body {
        padding: 32px 16px;
        font-size: 40px;
    }
    form {
        width: 88%;
        margin: 0 auto;
}
    h1 {
        font-size: 80px;
        line-height: 120%;
        margin: 64px 0;
    }
    .list {
        margin: 0;
        padding: 32px 0 64px;
    }
    .heading {
        font-size: 40px;
        line-height: 140%;
        padding-bottom: 56px;
    }
    label {
        display: block;
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 120%;
    }
    label:before {
        position: relative;
        margin-right: 24px;
        width: 64px;
        height: 64px;
        border-width: 8px;
    }
    input:checked ~ label:before {
        box-shadow: inset 0 0 0 12px white;
        border-width: 8px; 
    }
    input[type="text"] {
        border-bottom: 4px solid rgba(0,0,0,0.12);
        font-size: 64px;
        line-height: 5.8rem;
        margin: 0 0 64px;
        width: 100%;
    }
    input[type="text"]:focus {
        border-bottom-width: 8px;
        margin-bottom: 60px;
    }
    input[type="submit"] {
        line-height: 6.9rem;
        padding: 8px 0 0;
        border-radius: 64px;
        font-size: 56px;
        width: 100%;
        margin-bottom: 64px;
    }
    */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
    body {
        padding: 16px;

    }
    form {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
    
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
    body {
        padding: 16px;

    }
    form {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    body {
        padding: 16px;

    }
    form {
        width: 100%;
        margin: 0 auto;
        padding: 16px;
        box-sizing: border-box;
    }
    
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    body {
        padding: 16px;

    }
    form {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    body {
        padding: 16px;

    }
    form {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
    body {
        font-family: Roboto, Helvetica, Arial, sans-serif;
        padding: 20px;
        background-color: #FFD837;
        color: rgba(0,0,0,.87);
        box-sizing: border-box;
    }
    
    form {
        background-color: white;
        padding: 32px 40px 64px;
        border-radius: 4px;
        width: 620px;
        margin: 20px auto;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
        word-wrap: break-word;
    }

}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */

}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
    body {
        padding: 16px;

    }
    form {
        width: 100%;
        margin: 0 auto;
        padding: 24px 16px 32px;
        box-sizing: border-box;
    }
    h1 {
        font-size: 34px;
        line-height: 120%;
    }
    
}



