body {
    background-color: #FFD837;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
    border: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgba(0,0,0,.87);
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 4px;
    width: 600px;
    margin: 20px auto;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    word-wrap: break-word;
}
h1 {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 34px;
    line-height: 135%;
    max-width: 100%;
    min-width: 0%;
    font-weight: 400;
}

.heading {   
    color: #000;
    font-size: 20px;
    line-height: 135%;
    width: 100%;
}

input[type="radio"] {
    display: none;
}

label {
    display: block;
}

label:before {
    display: block;
    float: left;
    margin-right: 7px;
    content: '';
    width: 18px;
    height: 18px;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.54);
    border-radius: 50%;
    box-sizing: border-box;
}

input:checked ~ label {
    color: red;
}

input:checked ~ label:before {
    background-color: red;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    /* Styles */
    iframe {
        height: 1600px;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}



