body {
    background-color: red;
}

@import url('https://fonts.googleapis.com/css?lang=ru&family=Product+Sans|Roboto:400,700');

.gb_qb {
    font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
    z-index: 986
}

@-webkit-keyframes gb__a {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

@keyframes gb__a {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

a.gb_wa {
    border: none;
    color: #4285f4;
    cursor: default;
    font-weight: bold;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-user-select: none
}

a.gb_wa:hover:after,
a.gb_wa:focus:after {
    background-color: rgba(0, 0, 0, .12);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

a.gb_wa:hover,
a.gb_wa:focus {
    text-decoration: none
}

a.gb_wa:active {
    background-color: rgba(153, 153, 153, .4);
    text-decoration: none
}

a.gb_xa {
    background-color: #4285f4;
    color: #fff
}

a.gb_xa:active {
    background-color: #0043b2
}

.gb_ya {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .16);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .16)
}

.gb_wa,
.gb_xa,
.gb_za,
.gb_Aa {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.gb_za {
    background: #f8f8f8;
    border: 1px solid #c6c6c6
}

.gb_Aa {
    background: #f8f8f8
}

.gb_za,
#gb a.gb_za.gb_za,
.gb_Aa {
    color: #666;
    cursor: default;
    text-decoration: none
}

#gb a.gb_Aa.gb_Aa {
    cursor: default;
    text-decoration: none
}

.gb_Aa {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
    background: linear-gradient(top, #4387fd, #4683ea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd, endColorstr=#4683ea, GradientType=0)
}

#gb a.gb_Aa.gb_Aa {
    color: #fff
}

.gb_Aa:hover {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

.gb_Aa:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    background: #3c78dc;
    background: -webkit-linear-gradient(top, #3c7ae4, #3f76d3);
    background: linear-gradient(top, #3c7ae4, #3f76d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3c7ae4, endColorstr=#3f76d3, GradientType=0)
}

.gb_7a {
    display: none !important
}

.gb_8a {
    visibility: hidden
}

.gb_9c {
    display: inline-block;
    vertical-align: middle
}

.gb_Qc {
    position: relative
}

.gb_b {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none
}

#gb#gb a.gb_b {
    color: #000;
    cursor: pointer;
    text-decoration: none
}

.gb_sb {
    border-color: transparent;
    border-bottom-color: #fff;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 11.5px;
    top: 43px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s
}

.gb_tb {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    display: none;
    position: absolute;
    left: 11.5px;
    z-index: 1;
    height: 0;
    width: 0;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .2);
    top: 42px
}

x:-o-prefocus,
div.gb_tb {
    border-bottom-color: #ccc
}

.gb_aa {
    background: #fff;
    border: 1px solid #ccc;
    border-color: rgba(0, 0, 0, .2);
    color: #000;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
    display: none;
    outline: none;
    overflow: hidden;
    position: absolute;
    right: 8px;
    top: 62px;
    -webkit-animation: gb__a .2s;
    animation: gb__a .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: text
}

.gb_9c.gb_g .gb_sb,
.gb_9c.gb_g .gb_tb,
.gb_9c.gb_g .gb_aa,
.gb_g.gb_aa {
    display: block
}

.gb_9c.gb_g.gb_If .gb_sb,
.gb_9c.gb_g.gb_If .gb_tb {
    display: none
}

.gb_Jf {
    position: absolute;
    right: 8px;
    top: 62px;
    z-index: -1
}

.gb_bb .gb_sb,
.gb_bb .gb_tb,
.gb_bb .gb_aa {
    margin-top: -10px
}

.gb_9c:first-child,
#gbsfw:first-child+.gb_9c {
    padding-left: 4px
}

.gb_Ec {
    position: relative
}

.gb_je .gb_Ec,
.gb_be .gb_Ec {
    float: right
}

.gb_b {
    padding: 8px;
    cursor: pointer
}

.gb_Se button:focus svg,
.gb_Ta .gb_Fb:not(.gb_wa):focus img,
.gb_b:focus {
    background-color: rgba(0, 0, 0, 0.20);
    outline: none;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.gb_9c {
    padding: 4px
}

.gb_aa {
    z-index: 991;
    line-height: normal
}

.gb_aa.gb_Te {
    left: 8px;
    right: auto
}

@media (max-width:350px) {
    .gb_aa.gb_Te {
        left: 0
    }
}

.gb_Ue .gb_aa {
    top: 56px
}

.gb_8 .gb_b,
.gb_9 .gb_8 .gb_b {
    background-position: -64px -29px
}

.gb_S .gb_8 .gb_b {
    background-position: -29px -29px;
    opacity: 1
}

.gb_8 .gb_b,
.gb_8 .gb_b:hover,
.gb_8 .gb_b:focus {
    opacity: 1
}

.gb_Cd {
    display: none
}

.gb_ac {
    display: inline-block;
    position: relative;
    top: 2px;
    -webkit-user-select: none
}

.gb_ze .gb_ac {
    display: none
}

.gb_Ed .gb_bc {
    line-height: normal;
    position: relative;
    padding-left: 16px
}

.gb_Ae .gb_bc.gb_Be {
    padding-left: 4px
}

.gb_dc.gb_Ce {
    direction: ltr
}

.gb_dc.gb_Ce .gb_ne {
    padding-left: 8px;
    padding-right: 0
}

.gb_dc .gb_Fc:before {
    content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_clr_74x24px.svg');
    display: inline-block;
    height: 24px;
    width: 74px
}

.gb_dc .gb_Fc {
    height: 24px;
    width: 74px;
    display: inline-block;
    vertical-align: middle
}

.gb_dc {
    display: inline-block;
    vertical-align: middle
}

.gb_dc .gb_Fc,
.gb_dc.gb_De,
.gb_dc:not(.gb_De):not(:focus) {
    outline: none
}

.gb_Va {
    display: inline-block;
    vertical-align: middle
}

.gb_gc {
    border: none;
    display: block;
    visibility: hidden
}

img.gb_Wa {
    border: 0;
    vertical-align: middle
}

.gb_fe .gb_dc .gb_Fc:before {
    content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg')
}

.gb_ee .gb_dc .gb_Fc:before {
    content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg')
}

@media screen and (-ms-high-contrast:black-on-white) {
    .gb_fe .gb_dc .gb_Fc:before {
        content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_dark_clr_74x24px.svg')
    }
}

@media screen and (-ms-high-contrast:white-on-black) {
    .gb_ee .gb_dc .gb_Fc:before {
        content: url('https://www.gstatic.com/images/branding/googlelogo/svg/googlelogo_light_clr_74x24px.svg')
    }
}

.gb_Va {
    background-repeat: no-repeat
}

.gb_ne {
    display: inline-block;
    font-family: 'Product Sans', Arial, sans-serif;
    font-size: 22px;
    line-height: 24px;
    padding-left: 8px;
    position: relative;
    top: -1.5px;
    vertical-align: middle
}

.gb_Wa.gb_Ee {
    padding-right: 4px
}

.gb_ie.gb_ne {
    opacity: .54
}

.gb_me:focus .gb_ne {
    text-decoration: underline
}

.gb_Be img.gb_Wa {
    margin-bottom: 4px
}

.gb_Vc {
    color: inherit;
    font-size: 22px;
    font-weight: 400;
    line-height: 48px;
    overflow: hidden;
    padding-left: 16px;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: middle;
    top: 2px;
    white-space: nowrap;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto
}

.gb_Ta.gb_Ua .gb_Wc {
    position: relative;
    top: -2px
}

.gb_Ta.gb_Ua .gb_Vc {
    font-size: 20px
}

.gb_Ta {
    min-width: 320px;
    position: relative;
    -webkit-transition: box-shadow 250ms;
    transition: box-shadow 250ms
}

.gb_Ta.gb_Dd .gb_Cc {
    display: none
}

.gb_Ta.gb_Dd .gb_Ed {
    height: 56px
}

header.gb_Ta {
    display: block
}

.gb_Ta svg {
    fill: currentColor
}

.gb_Fd {
    position: fixed;
    top: 0;
    width: 100%
}

.gb_Hd {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2)
}

.gb_Id {
    height: 64px
}

.gb_Ta:not(.gb_qc) .gb_Zc.gb_0c:not(.gb_Jd),
.gb_Ta:not(.gb_qc) .gb_yd:not(.gb_Jd),
.gb_Ta.gb_Kd .gb_Zc.gb_0c.gb_Jd,
.gb_Ta.gb_Kd .gb_yd.gb_Jd {
    display: none !important
}

.gb_Ed {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: -ms-min-content;
    min-width: min-content
}

.gb_Ta:not(.gb_Ua) .gb_Ed {
    padding: 8px
}

.gb_Ta.gb_Ld .gb_Ed {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto
}

.gb_Ta .gb_Ed.gb_Md.gb_Nd {
    min-width: 0
}

.gb_Ta.gb_Ua .gb_Ed {
    padding: 4px;
    min-width: 0
}

.gb_Cc {
    height: 48px;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-user-select: none
}

.gb_Pd>.gb_Cc {
    display: table-cell;
    width: 100%
}

.gb_Cc.gb_Qd:not(.gb_Rd) .gb_Sd {
    padding-left: 16px
}

.gb_Cc.gb_Td.gb_Qd:not(.gb_Rd) .gb_Sd,
.gb_Cc.gb_Ud:not(.gb_Rd) .gb_Sd {
    padding-right: 16px
}

.gb_Cc:not(.gb_Rd) .gb_Sd {
    width: 100%;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto
}

.gb_Sd.gb_8a {
    display: none
}

.gb_Vd.gb_Wd>.gb_Xd {
    min-width: initial !important;
    min-width: auto !important
}

.gb_Zd {
    padding-right: 32px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto
}

.gb_Zd.gb_0d {
    padding-right: 0
}

.gb_Ta.gb_Ua .gb_Zd:not(.gb_0d) {
    padding-right: 8px
}

.gb_Ta.gb_Ua .gb_Zd:not(.gb_1d),
.gb_Ed.gb_Md.gb_Nd>.gb_Zd {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden
}

.gb_Ta.gb_Ua .gb_Vd:not(.gb_1d),
.gb_Ed.gb_Md.gb_Nd>.gb_Vd {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto
}

.gb_Vd {
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%
}

.gb_2d,
.gb_3d:not(.gb_Md):not(.gb_Wd).gb_4d {
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.gb_3d:not(.gb_Md):not(.gb_Wd) {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.gb_3d:not(.gb_Md):not(.gb_Wd).gb_5d,
.gb_3d:not(.gb_Md):not(.gb_Wd).gb_6d {
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.gb_Vd.gb_Md,
.gb_Vd.gb_Wd {
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.gb_Vd>:only-child {
    display: inline-block
}

.gb_Dc.gb_7d.gb_8d {
    padding-left: 4px
}

.gb_Dc.gb_7d.gb_9d {
    padding-left: 0
}

.gb_Ta.gb_Ua .gb_Dc.gb_7d.gb_9d {
    padding-left: 4px;
    padding-right: 0
}

.gb_8d {
    display: inline
}

.gb_Dc.gb_7d {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 32px;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.gb_Vc {
    display: inline-block
}

.gb_Dc {
    height: 48px;
    line-height: normal;
    padding: 0 4px
}

.gb_be {
    height: 48px
}

.gb_Ta.gb_be {
    min-width: initial;
    min-width: auto
}

.gb_be .gb_Dc {
    float: right
}

.gb_ce {
    font-size: 14px;
    max-width: 200px;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-user-select: text
}

.gb_Ta {
    color: black
}

.gb_de {
    background-color: #fff;
    -webkit-transition: background-color .4s;
    transition: background-color .4s
}

.gb_ee {
    color: black;
    background-color: #e0e0e0
}

.gb_fe {
    color: white;
    background-color: #616161
}

.gb_Ta a,
.gb_mc a {
    color: inherit
}

.gb_X {
    color: rgba(0, 0, 0, 0.87)
}

.gb_Ta svg,
.gb_mc svg {
    color: black;
    opacity: .54
}

.gb_fe svg {
    color: white;
    opacity: 1
}

.gb_ge:hover,
.gb_ge:focus,
.gb_he:hover,
.gb_he:focus {
    opacity: .85
}

.gb_ie {
    color: inherit;
    opacity: 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

.gb_fe .gb_ie,
.gb_ee .gb_ie {
    opacity: 1
}

.gb_je>* {
    display: block;
    min-height: 48px
}

.gb_Ta.gb_Ua .gb_je>* {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px
}

.gb_Ta:not(.gb_Ua) .gb_je>* {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px
}

.gb_Ta:not(.gb_Ua) .gb_Zd .gb_ac {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex
}

.gb_je .gb_ac {
    display: table-cell;
    height: 48px;
    vertical-align: middle
}

.gb_je .gb_Dc,
.gb_je .gb_8d {
    background-color: #f5f5f5;
    display: block
}

.gb_je .gb_8d .gb_9c {
    float: right
}

.gb_Ta.gb_Ua .gb_je .gb_Dc,
.gb_Ta.gb_Ua .gb_je .gb_8d {
    padding: 4px
}

.gb_Ta:not(.gb_Ua) .gb_je .gb_Dc,
.gb_Ta:not(.gb_Ua) .gb_je .gb_8d {
    padding: 8px
}

.gb_je .gb_ab {
    width: 40px
}

.gb_je .gb_db {
    position: absolute;
    right: 0;
    top: 50%
}

.gb_ke {
    position: relative
}

.gb_mc.gb_le {
    -webkit-overflow-scrolling: touch
}

.gb_mc .gb_me {
    text-decoration: none
}

.gb_mc .gb_ne {
    display: inline;
    white-space: normal;
    word-break: break-all;
    word-break: break-word
}

body.gb_oe [data-ogpc] {
    -webkit-transition: margin-left .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s;
    transition: margin-left .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s
}

body.gb_oe.gb_pe [data-ogpc] {
    -webkit-transition: margin-left .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
    transition: margin-left .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s
}

body [data-ogpc] {
    margin-left: 0
}

body.gb_pe [data-ogpc] {
    margin-left: 280px
}

.gb_qe {
    line-height: normal;
    padding-right: 15px
}

a.gb_P,
span.gb_P {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none
}

.gb_fe a.gb_P,
.gb_fe span.gb_P {
    color: white
}

a.gb_P:hover,
a.gb_P:focus {
    opacity: .85;
    text-decoration: underline
}

.gb_Q {
    display: inline-block;
    padding-left: 15px
}

.gb_Q .gb_P {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle
}

.gb_te {
    padding-left: 16px
}

.gb_te:not(.gb_Ua) {
    padding-left: 24px
}

.gb_ue {
    color: black;
    opacity: .54
}

.gb_ve {
    background: white;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    overflow-y: hidden;
    position: absolute;
    right: 24px;
    top: 48px
}

.gb_we {
    background: #1a73e8;
    border: none;
    font-family: 'Google Sans';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-left: 8px;
    margin-right: 8px;
    min-width: 50px;
    padding: 10px 24px;
    text-align: center;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

.gb_Ta.gb_Ua .gb_we {
    padding: 10px 16px
}

.gb_Ra {
    background-color: rgba(255, 255, 255, 0.88);
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    border: 1px solid #dadce0;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 8px;
    border-radius: 8px
}

.gb_Ra:hover {
    border: 1px solid #d2e3fc;
    background-color: rgba(248, 250, 255, 0.88)
}

.gb_Ra:focus {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255);
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15)
}

.gb_Sa {
    display: inline-block;
    padding-left: 7px;
    padding-bottom: 2px;
    text-align: center;
    vertical-align: middle
}

.gb_Ta:not(.gb_Ua) .gb_Ra {
    margin-left: 12px
}

.gb_Ra .gb_Va.gb_Wa {
    min-width: 0
}

.gb_9a {
    -webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0
}

@media (min-resolution:1.25dppx),
(-o-min-device-pixel-ratio:5/4),
(-webkit-min-device-pixel-ratio:1.25),
(min-device-pixel-ratio:1.25) {
    .gb_9a::before {
        display: inline-block;
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: left 0;
        transform-origin: left 0
    }

    .gb_Bb::before {
        display: inline-block;
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: left 0;
        transform-origin: left 0
    }
}

.gb_9a:hover,
.gb_9a:focus {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15)
}

.gb_9a:active {
    -webkit-box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .15)
}

.gb_9a:active::after {
    background: rgba(0, 0, 0, .1);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    content: '';
    display: block;
    height: 100%
}

.gb_ab {
    cursor: pointer;
    line-height: 40px;
    min-width: 30px;
    opacity: .75;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis
}

.gb_b.gb_ab {
    width: auto
}

.gb_ab:hover,
.gb_ab:focus {
    opacity: .85
}

.gb_bb .gb_ab,
.gb_bb .gb_cb {
    line-height: 26px
}

#gb#gb.gb_bb a.gb_ab,
.gb_bb .gb_cb {
    font-size: 11px;
    height: auto
}

.gb_db {
    border-top: 4px solid #000;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    display: inline-block;
    margin-left: 6px;
    opacity: .75;
    vertical-align: middle
}

.gb_eb:hover .gb_db {
    opacity: .85
}

.gb_Ra>.gb_fb {
    padding: 3px 3px 3px 4px
}

.gb_S .gb_ab,
.gb_S .gb_db {
    opacity: 1
}

#gb#gb.gb_S.gb_S a.gb_ab,
#gb#gb .gb_S.gb_S a.gb_ab {
    color: #fff
}

.gb_S.gb_S .gb_db {
    border-top-color: #fff;
    opacity: 1
}

.gb_9 .gb_9a:hover,
.gb_S .gb_9a:hover,
.gb_9 .gb_9a:focus,
.gb_S .gb_9a:focus {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .15), 0 1px 2px rgba(0, 0, 0, .2)
}

.gb_gb .gb_fb,
.gb_hb .gb_fb {
    position: absolute;
    right: 1px
}

.gb_fb.gb_R,
.gb_ib.gb_R,
.gb_eb.gb_R {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-flex: 0 1 main-size;
    flex: 0 1 main-size
}

.gb_jb.gb_kb .gb_ab {
    width: 30px !important
}

.gb_lb.gb_8a {
    display: none
}

@-webkit-keyframes progressmove {
    0% {
        margin-left: -100%
    }

    to {
        margin-left: 100%
    }
}

@keyframes progressmove {
    0% {
        margin-left: -100%
    }

    to {
        margin-left: 100%
    }
}

.gb_mb.gb_7a {
    display: none
}

.gb_mb {
    background-color: #ccc;
    height: 3px;
    overflow: hidden
}

.gb_nb {
    background-color: #f4b400;
    height: 100%;
    width: 50%;
    -webkit-animation: progressmove 1.5s linear 0s infinite;
    animation: progressmove 1.5s linear 0s infinite
}

.gb_pb {
    height: 40px;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 40px
}

.gb_qb .gb_pb,
.gb_rb .gb_pb {
    right: 0;
    top: 0
}

.gb_fb .gb_b {
    padding: 4px
}

.gb_ye {
    display: none
}

.gb_hc {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    height: 24px;
    width: 24px;
    -webkit-user-select: none;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto
}

.gb_Ua .gb_hc {
    margin: 0 4px 0 0
}

.gb_hc:focus,
.gb_hc:hover {
    background-color: rgba(0, 0, 0, 0.071);
    outline: none
}

.gb_ic {
    display: none
}

.gb_jc {
    -webkit-transform: none;
    transform: none
}

.gb_lc {
    display: none
}

.gb_mc {
    background-color: #fff;
    bottom: 0;
    color: #000;
    height: -webkit-calc(100vh - 100%);
    height: calc(100vh - 100%);
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    z-index: 990;
    will-change: visibility;
    visibility: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s;
    transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s
}

.gb_mc.gb_nc.gb_oc,
.gb_mc.gb_nc.gb_oc:hover {
    overflow: visible
}

.gb_mc.gb_Ua {
    width: 264px;
    -webkit-transform: translateX(-264px);
    transform: translateX(-264px)
}

.gb_mc:not(.gb_Ua) {
    width: 280px;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px)
}

.gb_mc.gb_g {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .28);
    box-shadow: 0 0 16px rgba(0, 0, 0, .28);
    -webkit-transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
    transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s
}

.gb_pc.gb_qc {
    background-color: transparent;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0
}

.gb_pc.gb_qc>:not(.gb_rc) {
    display: none
}

.gb_rc {
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-flex-direction: column;
    flex-direction: column
}

.gb_rc>.gb_sc {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto
}

.gb_rc>.gb_tc {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto
}

.gb_uc {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0
}

.gb_mc:not(.gb_pc) .gb_uc:first-child {
    padding: 0 0 8px 0
}

.gb_uc:not(:last-child) {
    border-bottom: 1px solid #ddd
}

.gb_vc {
    cursor: pointer
}

.gb_wc:empty {
    display: none
}

.gb_vc,
.gb_wc {
    display: block;
    min-height: 40px;
    padding-bottom: 4px;
    padding-top: 4px;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.87)
}

.gb_mc.gb_Ua .gb_vc {
    padding-left: 16px
}

.gb_mc:not(.gb_Ua) .gb_vc,
.gb_mc:not(.gb_Ua) .gb_wc {
    padding-left: 24px
}

.gb_vc:hover {
    background: rgba(0, 0, 0, 0.12)
}

.gb_vc.gb_xc {
    background: rgba(0, 0, 0, 0.12);
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87)
}

.gb_vc .gb_yc {
    text-decoration: none;
    display: inline-block;
    width: 100%
}

.gb_vc .gb_yc:focus {
    outline: none
}

.gb_vc .gb_zc,
.gb_wc {
    padding-left: 32px;
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    width: 176px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.gb_rc.gb_0 .gb_yc:focus .gb_zc {
    text-decoration: underline
}

.gb_vc .gb_Ac {
    height: 24px;
    width: 24px;
    float: left;
    margin-top: 8px;
    vertical-align: middle
}

.gb_Nc .gb_Qc {
    font-size: 14px;
    font-weight: bold;
    top: 0;
    right: 0
}

.gb_Nc .gb_b {
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px
}

.gb_Nc .gb_sb {
    border-bottom-color: #e5e5e5
}

.gb_Rc {
    background-color: rgba(0, 0, 0, .55);
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    margin: 5px;
    padding: 0 2px;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 24px;
    width: 24px
}

.gb_Rc.gb_Sc {
    background-position: -79px 0
}

.gb_Rc.gb_Tc {
    background-position: -79px -64px
}

.gb_b:hover .gb_Rc,
.gb_b:focus .gb_Rc {
    background-color: rgba(0, 0, 0, .85)
}

#gbsfw.gb_Uc {
    background: #e5e5e5;
    border-color: #ccc
}

.gb_9 .gb_Rc {
    background-color: rgba(0, 0, 0, .7)
}

.gb_S .gb_Rc.gb_Rc,
.gb_S .gb_Kc .gb_Rc.gb_Rc,
.gb_S .gb_Kc .gb_b:hover .gb_Rc,
.gb_S .gb_Kc .gb_b:focus .gb_Rc {
    background-color: #fff;
    color: #404040
}

.gb_S .gb_Rc.gb_Sc {
    background-position: -54px -64px
}

.gb_S .gb_Rc.gb_Tc {
    background-position: 0 -64px
}

.gb_Kc .gb_Rc.gb_Rc {
    background-color: #db4437;
    color: white
}

.gb_Kc .gb_b:hover .gb_Rc,
.gb_Kc .gb_b:focus .gb_Rc {
    background-color: #a52714
}

.gb_Fe {
    line-height: 20px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 20px
}

.gb_Nc a {
    line-height: 24px;
    -webkit-border-radius: 50%;
    border-radius: 50%
}

.gb_He.gb_Sc .gb_Fe {
    display: none
}

.gb_He svg {
    display: none;
    height: 24px;
    width: 24px
}

.gb_He.gb_Sc svg {
    display: block
}

.gb_He.gb_Tc svg {
    display: none
}

.gb_Kc .gb_Fe {
    color: white;
    background-color: #db4437;
    opacity: 1
}

.gb_ee .gb_Kc .gb_Fe {
    color: white;
    background-color: #db4437
}

.gb_fe .gb_Kc .gb_Fe {
    color: #212121;
    background-color: white
}

.gb_Ie {
    display: none
}

.gb_Ef {
    cursor: pointer;
    padding: 13px
}

.gb_Ff {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .24);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .24);
    width: 34px;
    height: 17px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    position: relative;
    -webkit-transition: background-color ease 150ms;
    transition: background-color ease 150ms
}

.gb_Ef[aria-pressed=true] .gb_Ff {
    background-color: rgba(255, 255, 255, 0.1)
}

.gb_Hf {
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    top: -4px;
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
    background-color: white;
    -webkit-transition: transform ease 150ms;
    transition: transform ease 150ms
}

.gb_Ef[aria-pressed=true] .gb_Hf {
    -webkit-transform: translateX(20px);
    transform: translateX(20px)
}

.gb_Hf img {
    position: absolute;
    margin: 5px;
    width: 15px;
    height: 15px
}

.gb_Xd {
    line-height: 0;
    -webkit-user-select: none
}

.gb_Vd>.gb_Xd:only-child {
    float: right
}

.gb_Xd .gb_Ne {
    display: inline-block
}

.gb_Xd .gb_Fb {
    cursor: pointer
}

.gb_Xd .gb_Fb img {
    opacity: .54;
    width: 24px;
    height: 24px;
    padding: 12px
}

.gb_fe .gb_Xd .gb_Fb img {
    opacity: 1
}

.gb_Je {
    text-align: right
}

.gb_Ne {
    text-align: initial
}

.gb_Xd .gb_Oe,
.gb_Xd .gb_Pe {
    display: table-cell;
    height: 48px;
    vertical-align: middle
}

.gb_Xd .gb_Oe {
    overflow: hidden
}

.gb_Xc {
    display: none
}

.gb_Xc.gb_g {
    display: block
}

.gb_Zc {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
    color: #000;
    position: relative;
    z-index: 986
}

.gb_0c {
    height: 40px;
    padding: 16px 24px;
    white-space: nowrap
}

.gb_1c {
    position: fixed;
    bottom: 16px;
    padding: 16px;
    right: 16px;
    white-space: normal;
    width: 328px;
    -webkit-transition: width .2s, bottom .2s, right .2s;
    transition: width .2s, bottom .2s, right .2s;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)
}

@media (max-width:400px) {
    .gb_Zc.gb_1c {
        max-width: 368px;
        width: auto;
        bottom: 0;
        right: 0
    }
}

.gb_Zc .gb_Fb {
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 36px;
    min-width: 32px;
    padding: 0 16px;
    vertical-align: middle
}

.gb_Zc .gb_Fb:before {
    content: '';
    height: 6px;
    left: 0;
    position: absolute;
    top: -6px;
    width: 100%
}

.gb_Zc .gb_Fb:after {
    bottom: -6px;
    content: '';
    height: 6px;
    left: 0;
    position: absolute;
    width: 100%
}

.gb_Zc .gb_Fb+.gb_Fb {
    margin-left: 8px
}

.gb_2c {
    height: 48px;
    padding: 4px;
    margin: -8px 0 0 -8px
}

.gb_1c .gb_2c {
    float: left;
    margin: -4px
}

.gb_3c {
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    overflow: hidden;
    vertical-align: top
}

.gb_0c .gb_3c {
    display: inline-block;
    padding-left: 8px;
    width: 640px
}

.gb_1c .gb_3c {
    display: block;
    margin-left: 56px;
    padding-bottom: 16px
}

.gb_4c {
    background-color: inherit
}

.gb_0c .gb_4c {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 24px
}

.gb_1c .gb_4c {
    text-align: right;
    padding-right: 24px;
    padding-top: 6px
}

.gb_4c .gb_5c {
    height: 1.5em;
    margin: -.25em 10px -.25em 0;
    vertical-align: text-top;
    width: 1.5em
}

.gb_6c {
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, .87)
}

.gb_1c .gb_6c {
    color: rgba(0, 0, 0, .87);
    font-size: 16px;
    line-height: 20px;
    padding-top: 8px
}

.gb_0c .gb_6c,
.gb_0c .gb_7c {
    width: 640px
}

.gb_7c .gb_8c,
.gb_7c {
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, .54)
}

.gb_1c .gb_7c .gb_8c {
    font-size: 14px
}

.gb_1c .gb_7c {
    padding-top: 12px
}

.gb_1c .gb_7c a {
    color: rgba(66, 133, 244, 1)
}

.gb_9c.gb_ad {
    padding: 0
}

.gb_ad .gb_aa {
    padding: 26px 26px 22px 13px;
    background: #ffffff
}

.gb_bd.gb_ad .gb_aa {
    background: #4d90fe
}

a.gb_cd {
    color: #666666 !important;
    font-size: 22px;
    height: 9px;
    opacity: .8;
    position: absolute;
    right: 14px;
    top: 4px;
    text-decoration: none !important;
    width: 9px
}

.gb_bd a.gb_cd {
    color: #c1d1f4 !important
}

a.gb_cd:hover,
a.gb_cd:active {
    opacity: 1
}

.gb_dd {
    padding: 0;
    width: 258px;
    white-space: normal;
    display: table
}

.gb_ed .gb_aa {
    top: 62px;
    border: 0;
    padding: 16px;
    -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4)
}

.gb_ed .gb_dd {
    width: 328px
}

.gb_ed .gb_Aa,
.gb_ed .gb_fd,
.gb_ed .gb_8c,
.gb_ed .gb_wa,
.gb_gd {
    line-height: normal;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif
}

.gb_ed .gb_Aa,
.gb_ed .gb_fd,
.gb_ed .gb_wa {
    font-weight: 500
}

.gb_ed .gb_Aa,
.gb_ed .gb_wa {
    border: 0;
    padding: 10px 8px
}

.gb_ad .gb_Aa:active {
    outline: none;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .16);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .16)
}

.gb_ed .gb_fd {
    color: #222;
    margin-bottom: 8px
}

.gb_ed .gb_8c {
    color: #808080;
    font-size: 14px
}

.gb_hd {
    text-align: right;
    font-size: 14px;
    padding-bottom: 0;
    white-space: nowrap
}

.gb_hd .gb_id {
    margin-left: 8px
}

.gb_hd .gb_jd.gb_id img {
    background-color: inherit;
    -webkit-border-radius: initial;
    border-radius: initial;
    height: 1.5em;
    margin: -0.25em 10px -0.25em 2px;
    vertical-align: text-top;
    width: 1.5em
}

.gb_ed .gb_dd .gb_kd .gb_jd {
    border: 2px solid transparent
}

.gb_ed .gb_dd .gb_kd .gb_jd:focus {
    border-color: #bbccff
}

.gb_ed .gb_dd .gb_kd .gb_jd:focus:after,
.gb_ed .gb_dd .gb_kd .gb_jd:hover:after {
    background-color: transparent
}

.gb_gd {
    background-color: #404040;
    color: #fff;
    padding: 16px;
    position: absolute;
    top: 62px;
    min-width: 328px;
    max-width: 650px;
    right: 8px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4)
}

.gb_gd a,
.gb_gd a:visited {
    color: #5e97f6;
    text-decoration: none
}

.gb_ld {
    text-transform: uppercase
}

.gb_md {
    padding-left: 50px
}

.gb_bd .gb_dd {
    width: 200px
}

.gb_fd {
    color: #333333;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 16px
}

.gb_bd .gb_fd {
    color: #ffffff
}

.gb_8c {
    color: #666666;
    line-height: 17px;
    margin: 0;
    margin-bottom: 5px
}

.gb_bd .gb_8c {
    color: #ffffff
}

.gb_8c a.gb_od {
    text-decoration: none;
    color: #5e97f6
}

.gb_8c a.gb_od:visited {
    color: #5e97f6
}

.gb_8c a.gb_od:hover,
.gb_8c a.gb_od:active {
    text-decoration: underline
}

.gb_pd {
    position: absolute;
    background: transparent;
    top: -999px;
    z-index: -1;
    visibility: hidden;
    margin-top: 1px;
    margin-left: 1px
}

#gb .gb_ad {
    margin: 0
}

.gb_ad .gb_Fb {
    background: #4d90fe;
    border-color: #3079ed;
    margin-top: 15px
}

.gb_ed .gb_Aa {
    background: #4285f4
}

.gb_ad a.gb_Aa,
#gb .gb_ad a.gb_Fb.gb_Fb {
    color: #ffffff
}

.gb_ad .gb_Fb:hover {
    background: #357ae8;
    border-color: #2f5bb7
}

.gb_qd .gb_Qc .gb_sb {
    border-bottom-color: #ffffff;
    display: block
}

.gb_rd .gb_Qc .gb_sb {
    border-bottom-color: #4d90fe;
    display: block
}

.gb_qd .gb_Qc .gb_tb,
.gb_rd .gb_Qc .gb_tb {
    display: block
}

.gb_sd,
.gb_kd {
    display: table-cell
}

.gb_sd {
    vertical-align: middle
}

.gb_ed .gb_sd {
    vertical-align: top
}

.gb_kd {
    padding-left: 13px;
    width: 100%
}

.gb_ed .gb_kd {
    padding-left: 20px
}

.gb_td {
    display: block;
    display: inline-block;
    padding: 1em 0 0 0;
    position: relative;
    width: 100%
}

.gb_ud {
    color: #ff0000;
    font-style: italic;
    margin: 0;
    padding-left: 46px
}

.gb_td .gb_vd {
    float: right;
    margin: -20px 0;
    width: -webkit-calc(100% - 46px);
    width: calc(100% - 46px)
}

.gb_wd svg {
    fill: grey
}

.gb_wd.gb_xd svg {
    fill: #4285f4
}

.gb_td .gb_vd label:after {
    background-color: #4285f4
}

.gb_wd {
    display: inline;
    float: right;
    margin-right: 22px;
    position: relative;
    top: -4px
}

.gb_yd {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    line-height: 19px;
    padding-top: 5px;
    padding-left: 12px;
    position: relative;
    background-color: #4d90fe
}

.gb_yd .gb_zd {
    color: #ffffff;
    cursor: default;
    font-size: 22px;
    font-weight: normal;
    position: absolute;
    right: 12px;
    top: 5px
}

.gb_yd .gb_id,
.gb_yd .gb_Ad {
    color: #ffffff;
    display: inline-block;
    font-size: 11px;
    margin-left: 16px;
    padding: 0 8px;
    white-space: nowrap
}

.gb_Bd {
    background: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.16)), to(rgba(0, 0, 0, 0.2)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.2));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.2));
    border-radius: 2px;
    border: 1px solid #dcdcdc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: default !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#160000ff, endColorstr=#220000ff);
    text-decoration: none !important;
    -webkit-border-radius: 2px
}

.gb_Bd:hover {
    background: none;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.14)), to(rgba(0, 0, 0, 0.2)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.2));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.2));
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#14000000, endColorstr=#22000000)
}

.gb_Bd:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3)
}

.gb_Ta .gb_wa {
    color: #4285f4
}

.gb_Ta .gb_xa {
    color: #fff
}

.gb_Ta .gb_Fb:not(.gb_Qe):focus {
    outline: none
}

.gb_if,
.gb_jf,
.gb_kf {
    display: none
}

.gb_Sd {
    height: 48px;
    max-width: 720px
}

.gb_Vd.gb_6d .gb_Sd {
    max-width: 100%;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto
}

.gb_Pd>.gb_Cc .gb_Sd {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.gb_Vd.gb_6d .gb_Sd .gb_Se {
    margin-left: 0;
    margin-right: 0
}

.gb_Se {
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    position: relative;
    -webkit-transition: background 100ms ease-in, width 100ms ease-out;
    transition: background 100ms ease-in, width 100ms ease-out
}

.gb_Se.gb_lf {
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.gb_fe .gb_Se {
    background: rgba(255, 255, 255, 0.16)
}

.gb_mf.gb_Se {
    background: rgba(255, 255, 255, 1)
}

.gb_fe .gb_mf.gb_Se .gb_bf {
    color: rgba(0, 0, 0, 0.87)
}

.gb_Se button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 4px;
    line-height: 0
}

.gb_Se button svg,
.gb_Se button img {
    padding: 7px;
    margin: 4px
}

.gb_df.gb_nf,
.gb_of.gb_nf {
    padding-left: 2px;
    padding-right: 2px
}

.gb_cf .gb_df {
    right: 0
}

.gb_of {
    display: none
}

.gb_df,
.gb_of {
    float: left;
    position: absolute;
    top: 0
}

.gb_pf {
    position: absolute;
    right: 0;
    cursor: default;
    visibility: hidden;
    top: 0;
    -webkit-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out
}

.gb_qf .gb_pf {
    right: 35px
}

.gb_cf .gb_pf {
    display: none
}

.gb_pf.gb_rf {
    visibility: inherit
}

.gb_bf::-ms-clear {
    display: none;
    height: 0;
    width: 0
}

.gb_sf {
    position: absolute;
    right: 0;
    top: 0
}

.gb_cf .gb_sf {
    right: 35px
}

.gb_cf>.gb_tf {
    margin-left: auto;
    padding: 0 11px
}

.gb_tf {
    height: 46px;
    padding: 0;
    margin-left: 54px;
    margin-right: 50px;
    overflow: hidden
}

.gb_qf .gb_tf {
    margin-right: 83px
}

.gb_bf {
    background: transparent;
    border: none;
    font: normal 16px Roboto, sans-serif;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    height: 46px;
    outline: none;
    padding: 11px 16px 11px 16px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.gb_nf.gb_tf .gb_bf {
    padding-left: 2px
}

.gb_nf.gb_tf {
    margin-left: 50px
}

.gb_fe .gb_bf {
    color: rgba(255, 255, 255, 0.7)
}

.gb_bf.gb_uf {
    padding-left: 0
}

.gb_uf {
    height: 46px;
    line-height: 46px;
    padding-bottom: 0;
    padding-top: 0
}

.gb_Se:not(.gb_af) input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.54)
}

.gb_fe .gb_Se:not(.gb_af) input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7)
}

.gb_Se.gb_Rd:not(.gb_ha) {
    background: transparent;
    float: right
}

.gb_Se.gb_Rd:not(.gb_ha) .gb_tf,
.gb_Se.gb_Rd:not(.gb_ha) .gb_pf,
.gb_Se.gb_Rd:not(.gb_ha) .gb_sf {
    display: none
}

.gb_Se.gb_Rd.gb_ha {
    margin-left: 0;
    position: absolute;
    width: auto
}

.gb_Se.gb_Rd.gb_ha:not(.gb_cf) .gb_df {
    display: none
}

.gb_Se.gb_Rd .gb_df {
    padding: 0;
    position: static
}

.gb_Se.gb_Rd.gb_ha .gb_of {
    display: block
}

.gb_vf {
    position: relative
}

.gb_wf {
    margin: 0 58px;
    padding: 0;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    overflow: auto
}

.gb_wf::-webkit-scrollbar {
    display: none
}

.gb_Ua .gb_wf,
.gb_Dd .gb_wf {
    margin: 0
}

.gb_xf,
.gb_yf {
    display: none;
    height: 48px;
    position: absolute;
    top: 0;
    width: 100px
}

.gb_vf.gb_zf .gb_xf,
.gb_vf.gb_Af .gb_yf {
    display: block
}

.gb_yf {
    pointer-events: none
}

.gb_xf {
    pointer-events: none;
    left: 0
}

.gb_yf {
    right: 0
}

.gb_Bf {
    cursor: pointer;
    display: inline-table;
    outline: none
}

.gb_Bf>.gb_Cf {
    border: 0 solid transparent;
    border-width: 2px 0;
    display: table-cell;
    height: 44px;
    padding: 0 22px;
    opacity: .7;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle
}

.gb_Bf.gb_xc:focus {
    background-color: rgba(0, 0, 0, .16)
}

.gb_Bf.gb_xc>.gb_Cf {
    border-bottom-color: black;
    opacity: 1
}

.gb_fe .gb_Bf.gb_xc>.gb_Cf {
    border-bottom-color: white
}

.gb_ee .gb_Bf.gb_xc>.gb_Cf {
    border-bottom-color: black
}

.gb_wf.gb_Df>.gb_Bf.gb_xc>.gb_Cf {
    border-bottom-color: #4285f4;
    color: #4285f4
}

sentinel {}

.gbii::before {
    content: url(https://lh3.googleusercontent.com/-i4Td3LaJQ1c/AAAAAAAAAAI/AAAAAAAAAAA/AAN31DWtkGhL6pfHuwnExz_p9RlAXv5yFw/s32-c-mo/photo.jpg)
}

.gbip::before {
    content: url(https://lh3.googleusercontent.com/-i4Td3LaJQ1c/AAAAAAAAAAI/AAAAAAAAAAA/AAN31DWtkGhL6pfHuwnExz_p9RlAXv5yFw/s96-c-mo/photo.jpg)
}

@media (min-resolution:1.25dppx),
(-o-min-device-pixel-ratio:5/4),
(-webkit-min-device-pixel-ratio:1.25),
(min-device-pixel-ratio:1.25) {
    .gbii::before {
        content: url(https://lh3.googleusercontent.com/-i4Td3LaJQ1c/AAAAAAAAAAI/AAAAAAAAAAA/AAN31DWtkGhL6pfHuwnExz_p9RlAXv5yFw/s64-c-mo/photo.jpg)
    }

    .gbip::before {
        content: url(https://lh3.googleusercontent.com/-i4Td3LaJQ1c/AAAAAAAAAAI/AAAAAAAAAAA/AAN31DWtkGhL6pfHuwnExz_p9RlAXv5yFw/s192-c-mo/photo.jpg)
    }
}